<div class="container">
  <h1>Hi <%= @artist.first_name %></h1>
  <p>Edit your profile</p>

  <%= render "form", artist: @artist %>

  <p>Thinking of leaving us?<p>
  <% if @artist == current_artist %>
        <%= link_to "delete account", artist_path, class: "btn btn-danger" %>
  <% end %>
</div>
