.grid-artist-show {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  width: 100%;
  min-height: 100vh;

  aside {
    background-color: $accent;
  }

  .side {
    display: flex;
    gap: 1em;
    flex-direction: column;
    height: 100%;
    padding: 2em;
    max-width: 400px;

    p {margin:0;}
  }

  .artist-avatar {
    height: 300px;
    width: 300px;
    background-color: white;
  }

  main {
    padding: 2em;
    width: 100%;
  }
}

.artwork-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  max-width: 100%;
}
