.grid-artist-show {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  width: 100%;
  min-height: $full-height;

  aside {
    background-color: $accent;
    background: linear-gradient(.25turn, $accent, 75%, $light-gray);
  }


  .side {
    display: flex;
    gap: 1em;
    flex-direction: column;
    height: 100%;
    padding: 2em;
    max-width: 400px;

    p, h2 {margin:0;}
  }

  .artist-avatar {
    height: 300px;
    width: 300px;
    background-color: white;
  }

  main {
    padding: 2em;
    width: 100%;
  }
}

// .artwork-container {
//   display: flex;
//   gap: 2em;
//   flex-wrap: wrap;
//   max-width: 100%;
// }

.artist-avatar {
  background-image: url("https://source.unsplash.com/random/?face");
  background-size: cover;
}


.artwork-container {
  columns: 3 250px;
  column-gap: 2rem;
  a {
    margin: 0 2rem 2rem 0;
    display: inline-block;
    width: 100%;
    // // text-align: center;
    // font-family: system-ui;
    // font-weight: 900;
    // font-size: 2rem;
  }

  button {
    margin: 0 2rem 2rem 0;
    display: inline-block;
    width: 100%;
  }

  .artwork__card {
    width: 100%;
    //break-inside: avoid-column;
  }

  // @for $i from 1 through 36 {
  //   div:nth-child(#{$i}) {
  //     $h: (random(400) + 100) + px;
  //     height: $h;
  //     line-height: $h;
  //   }
  // }
}

.art-add {
  margin-left: 197px;
}
