.shortlist-wrap {
min-height: calc(100vh - 60px);
overflow: hidden;
display: flex;
background-color: white;
}


.shortlist-name-column {
  top: 60px;
  z-index: 1;
  // bottom: 0;
  // position: sticky;
  display: flex;
  flex-direction: column;
  // background-color: $accent;
  min-height: 100vh;
  width: 400px;
  background: linear-gradient(.25turn, $accent, 75%, rgb(255, 255, 255));

}



.short-sideways-text {
  position: sticky;
  transform: rotate(-90deg);
  transform-origin: center;
  text-decoration: none;
  font-size: 2rem;
  color: $body-color;
  margin-top: 100px;
}


.shortlist-add {
  background-color: $purple;
  color: white;
  border-color: $purple;
  border-radius: $border-radius;
  font-family: $body-font;
  height: 50px;
  width: 100px;
  margin-top: 50px;

  }

  .shortlists-column {
    display:flex;
    flex-direction:column;
    min-height: calc(100vh - 60px);
    align-items:center;
    justify-content: center;
    width: 1328px;
    // background: linear-gradient(transparent, rgb(191, 57, 57) 80%);
    background-color: white;
    margin-left: 396px;
    margin-bottom: 55px;
  }

  .lines {
    border-top: 1px rgb(81, 80, 80) solid;
    border-bottom: rgb(141, 136, 136) solid;
    width: 900px;
    margin-right: 0px;
  }

  .shortlist-container {
    width: 900px;
  }

  .delete {
    color: $red;
    margin-right: 50px;
    a {
    text-decoration: none;
    color: rgba(234, 65, 43, 0.943);
    }
  }

  .mb-0 {
    margin-left: 50px;
    a {
    text-decoration: none;
    color:black;
    }
  }

  .circle {
  width: 60px;
  height:60px;
  border-radius: 50%;
  background-color: rgb(182, 179, 179);
  border: none;
  margin-bottom: 80px;
  margin-top:135px;
  display: flex;


  }

  // .plus-up {
  //   height: 50px;
  //   width: 5px;
  //   border-radius: 10%;
  //   background-color: black;
  //   justify-content: center;
  //   align-items: center;
  //   display: flex;
  // }


.circle::before {
  content: "+";
  height:60px;
  width:60px;
  font-size:60px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  font-weight:lighter;
  font-family: $body-font;
  color:rgb(65, 64, 64);
  border-radius: 30%;
}

.m {
width: 700px;
min-height: 1000px;
}


.modal-header h1 {
margin-left: 152px;
}

.create {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 186px;
}

#shortlist_name {
  margin-top: 20px;
}

.form-label {
  margin-top: 10px;
}
