
<span style="display:block; width:33%;"><%= render :template => "artists/index" %></span>
<span style="display:block; width:33%;"><%= render :template => "artworks/index" %></span>
<span style="display:block; width:33%;"><%= render :template => "opportunities/index" %></span>
