<div class="apply">
  <p>This is what happens when you save </p>

  <%= simple_form_for [@opportunity, @application] do |f| %>
    <%= f.input :content, label: "send a message to the curator", class: "content" %>
    <%= f.submit value: "Apply Now!", class: "btn btn-primary apply-now" %>
  <% end  %>
</div>
