
<div class="shortlist-wrap">
  <div class="shortlist-yellow">
    <div class="shortlist-name">
      <h1>Applications</h1>
    </div>
  </div>

  <div class="shortlist-artists">
    <div class="artist-card__container marg">
      <% @applications.each do |app| %>
        <%= render partial: "shared/application_card", locals: {application: app} %>
      <% end %>
    </div>
  </div>
</div>
