<div class="page-wrapper">
    <%= link_to artists_path(query: params[:query]), class: "text-decoration-none" do %>
    <div class="tab-button tab-button--artists">
      <div class="sideways-text">Artists</div>
    </div>
  <% end %>


<div class="container my-3 artist-card__container">

  <h1>All Artwork</h1>

  <%# <p>#TODO - Add cloudinary to app</p> %>

  <div class="artwork-container justify-content-center">
    <% @artworks.each do |artwork| %>
      <%= link_to artist_path(artwork.artist), class: "text-decoration-none opportunity-card__link" do %>
        <%= render partial: "shared/artwork_result", locals: { artwork: artwork } %>
      <% end %>
    <% end %>
  </div>

</div>
<%= link_to opportunities_path(query: params[:query]), class: "text-decoration-none" do %>
    <div class="tab-button tab-button--opportunities">
      <div class="sideways-text">Opportunities</div>
    </div>
  <% end %>

</div>
