<div class="container">
  <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <ul>
      <li><%= @user.email %></li>
      <li><%= @user.location %></li>
    </ul>


    <%= link_to "Delete USER", user_path(@user),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
</div>
