<button type="button" class="btn btn-primary shortlist-add" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <%= icon("fa-solid", "plus") %>
    new shortlist
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create Shortlist</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <%= simple_form_for(shortlist) do |f| %>
          <%= f.input :name %>
          <%= f.submit %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
