<div class="footer-aoy">

  <div class="container d-flex justify-content-around">

    <div class="footer-items">
      <span>&#169; All of You</span>
      <span>Contact us</span>
      <span>FAQ</span>
      <span>Terms of use</span>
      <span>Privacy</span>
      <span>policy</span>
    </div>

    <div class="footer-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-square-twitter"></i>
    </div>

  </div>

</div>
