


<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-link sign-button">
    Login
  </button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <%= link_to "I'm an artist", new_artist_session_path, class: "btn btn-primary" %>
          <%= link_to "I'm looking for art", new_user_session_path, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
