<!-- Button trigger modal -->

<!-- Modal 1 -->


  <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-link sign-button">
    Sign Up
  </button>


  <%# class="btn btn-primary" %>
