

<div class="shortlist-wrap">
 <div class="shortlist-name-column fixed-top">
  <div class="short-sideways-text">
    <h1>Shortlists</h1>
  </div>
 </div>

  <div class="shortlists-column">
    <h4>Click  to create a new shortlist and save your favorite artists for later</h4>
    <%= render partial: "shared/create_shortlist_modal", locals: { shortlist: @shortlist } %>
    <div class="shortlist-container">
      <% @shortlists.each_with_index do |shortlist, index| %>
        <div class="lines d-flex justify-content-between align-items-center py-4 <%= index < @shortlists.count - 1 ? "border-bottom" : "" %>">
          <p class="mb-0"><%= link_to shortlist.name, shortlist_path(shortlist) %></p>
          <div class="delete">
            <%= link_to "Delete", shortlist_path(shortlist), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
