

<div class="shortlist-wrap">
 <div class="shortlist-name-column">
  <div class="short-sideways-text">
    Shortlists
  </div>
 </div>

  <div class="shortlists-column">
    <%= render partial: "shared/create_shortlist_modal", locals: { shortlist: @shortlist } %>
    <div class="shortlist-container">
      <% @shortlists.each_with_index do |shortlist, index| %>

        <div class="d-flex w-100 justify-content-between align-items-center border-top py-4 <%= index < @shortlists.count - 1 ? "" : "border-bottom" %>">
          <p class="mb-0"><%= shortlist.name %></p>
          <div class="delete">
            <%= link_to "Delete", shortlist_path(shortlist), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

