<h1>SHORTLIST INDEX BELONGING TO SIGNED IN USER</h1>
<% @shortlists.each do |shortlist| %>
<div class="container">
  <h3>Shortlist Name: <%= shortlist.name %></h3>
  <h4>Artists</h4>
  <p><% shortlist.artists.each do |artist| %></p>
  <div class="container">
      <p> - <%= link_to "#{artist.first_name}", artist_path(artist.id) %></p>
  </div>
  <% end %>
</div>
<% end %>
