<div class="shortlist-wrap">
  <div class="shortlist-artists">
    <h4>Artists</h4>
    <% @shortlist.artists.each do |artist| %>
    <div class="container">
        <p class="card-text"> - <%= link_to "#{artist.first_name}", artist_path(artist.id) %></p>
    </div>
    <% end %>
  </div>

  <div class="shortlist-yellow">
    <div class="shortlist-name">
      <h1><%= @shortlist.name %></h1>
      <%= link_to "Delete", shortlist_path(@shortlist), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary shortlist-add text-decoration-none" %>
      <%= render partial: "shared/edit_shortlist_modal", locals: { shortlist: @shortlist } %>
    </div>
  </div>
</div>
