<%# <div class="landing-flex-box">

  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>



</div>

<div class="landing-bottom"></div> %>



<div class="wrapper">
  <div class="column column-1">
    <div class="image image-1"></div>
    <div class="image image-2"></div>
    <div class="image image-3"></div>
    <div class="image image-4"></div>
    <div class="image image-1"></div>
    <div class="image image-2"></div>
    <div class="image image-3"></div>
    <div class="image image-4"></div>
    <div class="image image-1"></div>
    <div class="image image-2"></div>
    <div class="image image-3"></div>
    <div class="image image-4"></div>
  </div>

  <div class="column column-2">
    <div class="image image-5"></div>
    <div class="image image-6"></div>
    <div class="image image-7"></div>
    <div class="image image-8"></div>
    <div class="image image-5"></div>
    <div class="image image-6"></div>
    <div class="image image-7"></div>
    <div class="image image-8"></div>
    <div class="image image-5"></div>
    <div class="image image-6"></div>
    <div class="image image-7"></div>
    <div class="image image-8"></div>
  </div>

  <div class="column column-3">
    <div class="image image-9"></div>
    <div class="image image-10"></div>
    <div class="image image-11"></div>
    <div class="image image-12"></div>
    <div class="image image-9"></div>
    <div class="image image-10"></div>
    <div class="image image-11"></div>
    <div class="image image-12"></div>
    <div class="image image-9"></div>
    <div class="image image-10"></div>
    <div class="image image-11"></div>
    <div class="image image-12"></div>
  </div>

  <div class="column column-4">
    <div class="image image-13"></div>
    <div class="image image-14"></div>
    <div class="image image-15"></div>
    <div class="image image-16"></div>
    <div class="image image-13"></div>
    <div class="image image-14"></div>
    <div class="image image-15"></div>
    <div class="image image-16"></div>
    <div class="image image-13"></div>
    <div class="image image-14"></div>
    <div class="image image-15"></div>
    <div class="image image-16"></div>
  </div>

  <div class="column column-5">
    <div class="image image-17"></div>
    <div class="image image-18"></div>
    <div class="image image-19"></div>
    <div class="image image-20"></div>
    <div class="image image-17"></div>
    <div class="image image-18"></div>
    <div class="image image-19"></div>
    <div class="image image-20"></div>
    <div class="image image-17"></div>
    <div class="image image-18"></div>
    <div class="image image-19"></div>
    <div class="image image-20"></div>
  </div>
</div>

<div class="landing-bottom"></div>











<%# create if statement that makes the landing page different depending on the user signed in %>
