.application-card {
  border: $frame-border;
  padding: 0.5em;
  max-width: 1000px;
  background-color: white;
  box-shadow: $frame-shadow;

}

.application-card:hover {
  box-shadow: $frame-shadow-hover;
}

.application-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
  padding: 0.5em;
  
  p, h3 {margin: 0}
}

.application-card__inner {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.application-card__link {
  color: $body-color;

  :hover {
    color: $body-color;
  }
}
