.apply {
  width: 34vw;
  padding: 1.5em 4em;
  border: $frame-border;
  //margin: 4em auto;
  background-color: white;

  .form-label {
    //margin-bottom:30px;
    //font-size: 20px;
  }
  .form-control {
    height: 90px;
  }
}


.applied {
  color: green;
  margin-top: 100px;
}
