.apply {
  width: 37vw;
  padding: 2em 4em;
  border: 4px solid;
  margin: 4em auto 4em auto;
  background-color: white;
  .form-label {
    margin-bottom:30px;
    font-size: 20px;

  }
  .form-control {
    height: 90px;
  }
}


.apply-now {
margin-top: 20px;
}


.apply-here {
  margin-top: 50px;
}
