.artist-card {
  border: $frame-border;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1em;
  max-width: 1000px;
  background-color: white;
  box-shadow: $frame-shadow;

}

.artist-card:hover {
  box-shadow: $frame-shadow-hover;
}

.artist-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
  padding: 0.5em;

  p, h3 {margin: 0}
}

.artist-card__image {
  width: 100%;
  min-height: 240px;
  background-color: aquamarine;
  background-size: cover;
  background-position: top;
}

.artist-card__link {
  color: $body-color;

  :hover {
    color: $body-color;
  }
}
