.artwork__card {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 0.25em;

  p {margin: 0}

}

.artwork__frame {
  border: $frame-border;
  padding: 0.5rem;
  width: 100%;
  box-shadow: $frame-shadow;

  img {
    width: 100%
  }

}

.artwork__frame:hover {
  box-shadow: $frame-shadow-hover;
}

.artwork__image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.artwork__title {
  font-weight: bold;
}
