.modal-width {
  max-width: 50vw;
}

.modal-footer a {
  margin: 0;
  width: 0;
}

// .modal-carousel-height {
//   height: 50vh;
// }

// .carousel-img {
//   max-height: 70vh;
//   background-size: cover;
//   object-fit: cover;
//   margin: 0 auto;
// }
