.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-aoy {
  background: white;
  border-bottom: 4px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-search {
  min-width: 40vw;
}
