<<<<<<< HEAD
.aoy-infos {
  padding: 1.5em;
}

.rand-box {
  width: 40%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.rand-artist {
  width: 70%;
  border: 5px solid black;
  margin: auto;
  text-align:left;
  height: auto;
  padding: 4px;

  .rand-img {
    width: 75%;
    margin: 0 auto;
  }
}

.rand-info {
  padding: 10px;
  overflow: scroll;
}

.about-aoy {
  width: 60%;
=======
.rand-artist {
  width: 40%;
  border: 2px solid black;
>>>>>>> 4b610f3163bd437823b697aa6e5af01c9a2a7372
}
