

.discover{
  p {
  font-family: $body-font;
  }
  h1 {
  font-family: $body-font;
  }
}

.discover-btn {
  background-color: $purple;
  margin-left: 5px;
  color: white;
  border-color: $purple;
  border-radius: $border-radius;
  font-family: $body-font;
}



.landing-search {
  width: 700px;
  font-family: $body-font;
}
