.simple-calendar {
  border: $frame-border;
}

.calendar-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  align-items: center;

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    width: 2em;
    text-align: center;
    transition: all 0.5s ease;

  }
  #left:hover {
    transform: translateX(-0.5em);
  }

  #right:hover {
    transform: translateX(0.5em);
  }
}


.opportunity-calendar-event {
  background-color: $opp-tab;
  padding: 0.25em;
  margin: 0.1em;
  border-radius: $border-radius;

  color: $body-color;
}
