<%= month_calendar(attribute: :created_at, events: @opportunities) do |date, opps| %>
  <%= date.to_formatted_s(:short) %>

  <% opps.each do |opp| %>
    <%= link_to opportunity_path(opp), class: "text-decoration-none" do %>
    <span class="opportunity-calendar-event">
      <%= opp.title %>
    </span>
    <% end %>
  <% end %>
<% end %>
