<div class="container my-3 artist-card__container">
    <h1>My Opportunities</h1>
    <% @opportunities.each do |opportunity| %>
      <%= link_to opportunity_path(opportunity), class: "text-decoration-none opportunity-card__link" do %>
        <%= render partial: "shared/opportunity_card", locals: {opportunity: opportunity} %>
      <% end %>
    <% end %>
  </div>
