<h1><%= @opportunity.title %></h1>

<div class="container">
  <% @opportunities.each do |opportunity| %>
    <ul>
      <li><%= opportunity.location %></li>
      <li><%= opportunity.description %></li>
      <li><%= opportunity.status %></li>
    </ul>
  <% end %>
</div>
